[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = true
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 default_realm = {{ network_domain_name | upper }}
 default_ccache_name = KEYRING:persistent:%{uid}
 default_client_keytab_name = /krb5/client.keytab

[realms]
{{ network_domain_name | upper }}= {
}

[domain_realm]
.{{ network_domain_name }} = {{ network_domain_name | upper }}
{{ network_domain_name }} = {{ network_domain_name | upper }}