apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ocp_pvc }}"
  namespace: "{{ ocp_namespace }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeMode: Filesystem
  volumeName: "{{ ocp_pv }}"

