apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ ocp_pv }}"
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 1Gi

  mountOptions:
  - vers=4.2
  - rw
  - sec=krb5
  - lookupcache=none
  nfs:
    path: "{{ nfs_exports[0]['source'] }}"
    server: "{{ groups['nfs_server'][0] }}"
  persistentVolumeReclaimPolicy: Delete
